/* POPPINS */
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../assets/fonts/poppins/poppins_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-bold';
  font-weight: 700;
  src: url('../assets/fonts/poppins/poppins_bold.ttf') format('truetype');
}

/* CIRCE */
@font-face {
  font-family: 'Circe';
  font-weight: 400;
  src: url('../assets/fonts/circe/circe_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Circe-bold';
  font-weight: 700;
  src: url('../assets/fonts/circe/circe_bold.ttf') format('truetype');
}
