@import '../../stylesheet/_vars.scss';

.container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $mobile;
  // height: 100vh;
  padding: 20px 20px 37px;
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: $mainTextColor;
  margin-bottom: 40px;
}

.swichWrap {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.toggleWrap {
  margin: 0;
}

.income {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: $swichTextColor;
}

.incomeAactive {
  composes: income;
  color: $accentTextColor;
}

.expense {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: $swichTextColor;

  &--active {
    color: $redTextColor;
  }
}

.expenseActive {
  composes: expense;
  color: $redTextColor;
}

.input {
  outline: none;
  border-bottom: 1px solid $placeholderColor;
  width: 100%;
  height: 32px;
  padding-left: 20px;
}

.comment {
  composes: input;
  display: block;
  resize: none;
  margin-top: 60px;
}

.label {
  color: $placeholderColor;
  margin-bottom: 40px;
  width: 100%;
}

.select {
  width: 100%;
  height: 32px;
  margin-bottom: 40px;
}

.custom-select {
  &__control {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid $placeholderColor !important;
    margin-bottom: 1px !important;
    cursor: pointer !important;
  }

  &__value-container {
    font-family: 'Circe' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 1.5 !important;
    color: $mainTextColor !important;
    padding-left: 20px !important;
  }

  &__indicator-separator {
    display: none !important;
  }

  &__indicator {
    color: $mainTextColor !important;
  }

  &__menu {
    font-family: 'Circe' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 1.5 !important;
    border-radius: 20px !important;
    color: $mainTextColor !important;
    box-shadow: $boxShadowDropdown !important;
    backdrop-filter: blur(25px) !important;

    margin: 0 !important;

    overflow: hidden !important;
  }

  &__option {
    cursor: pointer !important;
    background-color: $dropdownColor !important;
    backdrop-filter: blur(25px) !important;

    &:hover {
      color: $redTextColor !important;
      background-color: $mainBgnColor !important;
    }

    &--is-selected {
      color: $redTextColor !important;
      background-color: $mainBgnColor !important;
    }
  }
}

.mainBtn {
  display: block;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $secondaryTextColor;
  background-color: $accentBgnColor;
  width: 280px;
  height: 50px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.secondaryBtn {
  display: block;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $blueTextColor;
  border: 1px solid $blueBgnColor;
  width: 280px;
  height: 50px;
  border-radius: 20px;
}
