@import '../../index.scss';

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include tablet-media {
    flex-direction: row;
  }
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  @include font(30px, 45px);
  margin-top: 13px;
  margin-bottom: 8px;

  @include tablet-media {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @include desktop-media {
    margin-top: 32px;
  }
}

.selectorsBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include tablet-media {
    flex-direction: row;
    gap: 16px;
  }

  @include desktop-media {
    gap: 32px;
  }
}

.diagramBlock {
  width: 280px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;

  @include tablet-media {
    width: 336px;
    height: 336px;
  }

  @include desktop-media {
    width: 288px;
    height: 288px;
  }
}

.transactionsSummaryBlock {
  display: flex;
  flex-direction: column;

  gap: 20px;

  @include tablet-only-media {
    transform: translateY(-45px);
  }
}
