@import "../../index.scss";
.table {
    width: 280px;
    @include tablet-media {
        width: 336px; 
      }
      @include desktop-media {
        width: 395px;
      }
}
.table__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
}

.table__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    background-color: $mainBgnColor;
    width: 280px;

    @include tablet-media {
        width: 336px; 
      }
      @include desktop-media {
        width: 395px;
      }
}
.tableScrollBox::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 2px;
}

.tableScrollBox::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.tableScrollBox::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px solid $blueTextColor;
    border-radius: 5px;
}

.tableScrollBox::-webkit-scrollbar-thumb:hover {
    background: $blueTextColor;
}

.tableScrollBox {
    overflow-y: scroll;
    @include tablet-media {
        max-height: 30vh;
    }

    @include desktop-media {
        max-height: 42vh;
    }
}

.table__item {
    font-family: 'Circe';
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DCDCDF;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
}
.table__color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 2px;
}
.table__name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding-left: 16px;
}
.table__total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}
.table__bottom {
    font-weight: bold;
    font-size: 16px;
    margin-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.first {
    width: 50%;
    display: inline-block;
}
.second__expense {
    width: 50%;
    display: inline-block;
    color: $redBgnColor;
    text-align: end;
}
.second__income {
    width: 50%;
    display: inline-block;
    color: $accentBgnColor;
    text-align: end;
}