.wrapper {
  background: #ffffff;
  border-radius: 30px;
  width: 395px;
  padding: 8px 40px;
}

.title {
  font-family: 'Circe';

  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #a6a6a6;
}

.balance {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}
