@import '../../index.scss';

.btn {
  position: 'fixed';
  bottom: '150px';
  right: '40px';
  display: flex;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 60px;
  height: 60px;
  border: 1px solid red;
}

.icon {
  color: '#24cca7';
  width: '44px';
  height: '44px';
}
