@import '../../index.scss';

.background {
  min-height: $backdropHeight;
  background-color: $secondaryBgnColor;

  @include tablet-media {
    background-image: url('../../assets/images/ellipse-rose.png'),
      url('../../assets/images/ellipse-blue.png');
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
  }
}

.backdrop {
  width: 100%;
  min-height: $backdropHeight;

  backdrop-filter: blur(25px);
}

.contentWrapper {
  @include centeredFlex();
  flex-direction: column;

  @include tablet-media {
    gap: 20px;
  }

  @include desktop-media {
    flex-direction: row;
    justify-content: start;
    gap: 70px;
  }
}

.sidebarWrapper {
  padding-top: 12px;

  @include tablet-media {
    display: flex;
    gap: 32px;
    padding-top: 40px;
  }

  @include desktop-media {
    min-height: $backdropHeight;
    display: block;
    padding-right: 69px;
    border-right: 1px solid #e7e5f2;
    box-shadow: $decorLineShadow;
  }
}

.infoWrapper {
  margin-bottom: 32px;
}

.nav {
  margin-bottom: 12px;

  @include tablet-media {
    margin-bottom: 28px;
  }
}
